: root {
    box-sizing: border-box;
}

.form-group {
    margin-bottom: 20px;
  }
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  .form-group input[type="text"],
  .form-group input[type="email"],
  .form-group input[type="tel"],
  .form-group input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .row label {
    width: 45%; /* Adjust as needed */
  }